.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

.propiedad {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}

.propiedad img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}